
$white: #ffffff;
$black: #000000;
$main-bgc: #ffb8ca;
$primary-text-pink: #d41443;
$circle-bgc: #ffa5ba;
$secondary-text-color: #907e82;
$yellow-bgc: #f0d1a5;
$green-bgc: #c2e297;
$social-link-bgc: #fea5bb;
$quote-bgc: #fafafa;
$section-bgc: #fff5f6;
$green-bg-color:#C2E297;
$button-hover-color:#ECEBEB;
$events-section-bgc:#FFF5F6;
$bg-color-menu: #e17992;
$border-color: #e18298;
$border-color: #e18298;

$font-family: DM Sans, Arial, sans-serif;
$second-font-family: Titan One, sans-serif;
$font-size: 14px;
$line-height: 1.76;
$letter-spacing: 0.04em;
