<section class="events-section">
<div class="container">
<ul class="events-list">
    <li class="events-list__item">
        <div class="events-list__container">
        <div class="events-list__item__first-section">
        <p class="events-list__item__first-section__cafe">
            cafe
        </p>
        <p class="events-list__item__first-section__first-row">
            Chicago
        </p>
        <p class="events-list__item__first-section__second-row">
                Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
        </div>
        <div class="events-list__item__second-section">
            <p class="events-list__item__second-section__first-row">
                Monday - friday
            </p>
            <p class="events-list__item__second-section__second-row">
                    06:00 AM - 10:00 PM
            </p>
            <p class="events-list__item__second-section__first-row">
                    Saturday - Sunday
                </p>
                <p class="events-list__item__second-section__second-row">
                        08:00 AM - 16:00 PM
                </p>
        </div>
        <div class="events-list__item__third-section">
            <a class="events-list__item__third-section__first-row" href="tell:+610383766284"> +61(0) 383 766 284</a>
            <a class="events-list__item__third-section__second-row" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
    </div>
    </li>
    <li class="events-list__item"></li>
    <li class="events-list__item"></li>
</ul>
</div>
</section>
