<section class="events-section" id="events">
  <h2 class="events-title">Our events</h2>
  <div class="container">
    <ul class="events-list">
      <li class="events-item">
        <div class="wrap-events">
          <h3 class="subtitle">Cafe</h3>
          <h4 class="events-town">Chicago</h4>

          <p class="text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="days-wrap">
          <p class="events-days">Monday - Friday</p>
          <p class="events-time">06:00 AM - 10:00 PM</p>

          <p class="events-days">Saturday - Sunday</p>
          <p class="events-time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="our-contacts">
          <a href="tel:+610383766284" class="telephone">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="email"
            >noreply@envato.com</a
          >
        </address>
      </li>

      <li class="events-item">
        <div class="wrap-events">
          <h3 class="subtitle green">Foodtruck</h3>
          <h4 class="events-town">Los-Angeles</h4>

          <p class="text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="days-wrap">
          <p class="events-days">Monday - Friday</p>
          <p class="events-time">06:00 AM - 10:00 PM</p>

          <p class="events-days">Saturday - Sunday</p>
          <p class="events-time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="our-contacts">
          <a href="tel:+610383766284" class="telephone">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="email"
            >noreply@envato.com</a
          >
        </address>
      </li>

      <li class="events-item">
        <div class="wrap-events">
          <h3 class="subtitle">Cafe</h3>
          <h4 class="events-town">New York</h4>

          <p class="text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>

        <div class="days-wrap">
          <p class="events-days">Monday - Friday</p>
          <p class="events-time">06:00 AM - 10:00 PM</p>

          <p class="events-days">Saturday - Sunday</p>
          <p class="events-time">08:00 AM - 16:00 PM</p>
        </div>

        <address class="our-contacts">
          <a href="tel:+610383766284" class="telephone">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="email"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>

    <div class="button-events">
      <a href="" class="button">
        <span class="button-text">Our Locations</span>
        <span>&gt;</span>
      </a>
      <a href="" class="button"
        ><span class="button-text"> Franchise </span>
        <span>&gt;</span>
      </a>
    </div>
  </div>
</section>
