<div class="first-screen">
  <div class="container">
    <header class="page-header">
      <div class="wrap-header">
        <a href="#">
          <img src="./images/logo-m.png" alt="logo" />
        </a>
        <button class="button-menu" data-menu-button id="open">
          <svg width="20" height="12" aria-label="button-menu">
            <use href="./images/svg/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <a href="" class="button-buy">
          <span class="button-buy-text">Buy now</span>
          <span class="arrow"></span>
        </a>
      </div>

      <div class="wrap-nav" data-menu>
        <button class="button-close" id="close" data-menu-close>
          <svg width="14" height="14">
            <use href="./images/svg/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="page-nav">
          <a href="" class="button-nav">
            <span class="button-buy-text">Buy now</span>
            <span class="arrow"></span>
          </a>

          <ul class="header-list">
            <li class="nav-item"><a href="" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="" class="nav-link">About us</a></li>
            <li class="nav-item">
              <a href="" class="nav-link">How it’s made?</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Our products</a>
            </li>
            <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="hero-section">
      <h1 class="hero-title">
        Ice cream made with
        <div class="passion">Passion</div>
      </h1>
      <div class="hero-buttons">
        <a href="" class="hero-button">Products</a>
        <a href="" class="hero-button">How it’s made?</a>
      </div>
      <div class="hero-text">
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
          <div class="wrap-link">
            <a href="" class="link-hero">&#10132;</a>
          </div>
        </div>
      </div>
    </section>

    <div class="circle"></div>
    <div class="img-bg"></div>

    <div class="bg-wrap">
      <div class="circle-2"></div>
      <div class="number">16</div>
      <div class="cafes">cafes</div>
    </div>

    <div class="second-bg-wrap">
      <div class="circle-3"></div>
      <div class="number">32</div>
      <div class="cafes">food trucks</div>
    </div>

    <div class="img-bg-second"></div>

    <!-- <div class="img-bg-third"></div> -->
  </div>
</div>
