<section class="section-products">
    <div class="container">
    <h2 class="title-products">100% natural</h2>
    <div class="section-name">products</div>
        <ul class="list-products">
            <li class="item-products bcg-pink">
                <div class="block-product">
                    <picture>
                        <source
                          srcset="
                          /images/ice-cream-m.png 1x,                   
                          /images/ice-cream-m@2x.png 2x
                          "
                          media="(max-width: 767px)" />
                        <source
                          srcset="
                          /images/ice-cream-tab.png   1x,
                          /images/ice-cream-tab@2x.png 2x
                          "
                          media="(max-width: 1199px)" />
                        <source
                          srcset="
                          /images/ice-cream-desc.png  1x,
                          /images/ice-cream-desc@2x.png 2x
                          "
                          media="(min-width: 1200px)" />
                        <img
                          class="photo-product"
                          src="/images/ice-cream-m.png"
                          alt="photo ice-cream"
                      />
                    </picture>
                    <p class="type-product">
                        ice cream
                    </p>
                    <div class="list-circle">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="decryption-product">
                        <p class="decryption-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                        <span class="visually-hidden">dolore magna aliqua facilisis.</span>
                        </p>
                    </div>
                    <a class="arrow-product" href=""><span class="arrow">&#10132;</span></a>
                </div>
            </li>
            <li class="item-products bcg-beige">
                <div class="block-product">
                    <picture>
                        <source
                          srcset="
                          /images/ice-coffee-m.png 1x,                   
                          /images/ice-coffee-m@2x.png 2x
                          "
                          media="(max-width: 767px)" />
                        <source
                          srcset="
                          /images/ice-coffee-tab.png   1x,
                          /images/ice-coffee-tab@2x.png 2x
                          "
                          media="(max-width: 1199px)" />
                        <source
                          srcset="
                          /images/ice-coffee-desc.png  1x,
                          /images/ice-coffee-desc@2x.png 2x
                          "
                          media="(min-width: 1200px)" />
                        <img
                          class="photo-product"
                          src="/images/ice-coffee-m.png"
                          alt="photo ice-coffee"
                      />
                    </picture>
                    <p class="type-product">
                        ice coffee 
                    </p>
                    <div class="list-circle">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="decryption-product">
                        <p class="decryption-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                        <span class="visually-hidden">dolore magna aliqua facilisis.</span>
                        </p>
                    </div>
                    <a class="arrow-product" href=""><span class="arrow">&#10132;</span></a>
                </div>
            </li>
            <li class="item-products bcg-green">
                <div class="block-product">
                    <picture>
                        <source
                          srcset="
                          /images/milkshakes-m.png 1x,                   
                          /images/milkshakes-m@2x.png 2x
                          "
                          media="(max-width: 767px)" />
                        <source
                          srcset="
                          /images/milkshakes-tab.png   1x,
                          /images/milkshakes-tab@2x.png 2x
                          "
                          media="(max-width: 1199px)" />
                        <source
                          srcset="
                          /images/milkshakes-desc.png  1x,
                          /images/milkshakes-desc@2x.png 2x
                          "
                          media="(min-width: 1200px)" />
                        <img
                          class="photo-product"
                          src="/images/milkshakes-m.png"
                          alt="photo ice-cream"
                      />
                    </picture>
                    <p class="type-product">
                        milkshakes
                    </p>
                    <div class="list-circle">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <div class="decryption-product">
                        <p class="decryption-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                        <span class="visually-hidden">dolore magna aliqua facilisis.</span>
                        </p>
                    </div>
                    <a class="arrow-product" href=""><span class="arrow">&#10132;</span></a>
                </div>
            </li>
        </ul>
   </div>   
</section>
