<section class="section-products">
    <div class="container">
    <h2 class="title-products">100% natural</h2>
    <div class="section-name">products</div>
        <ul class="list-products">
            <li class="item-products-pink">
                <div class="">
                    <picture>
                        <source
                          srcset="
                          /images/ice-cream-m.png 1x,                   
                          /images/ice-cream-m@2x.png 2x
                          "
                          media="(max-width: 767px)" />
                        <source
                          srcset="
                          /images/ice-cream-tab.png   1x,
                          /images/ice-cream-tab@2x.png 2x
                          "
                          media="(max-width: 1199px)" />
                        <source
                          srcset="
                          /images/ice-desc.png  1x,
                          /images/ice-desc@2x.png 2x
                          "
                          media="(min-width: 1200px)" />
                        <img
                          class=""
                          src="/images/ice-cream-m.png"
                          alt="photo ice-cream"
                      /></picture>
                    <p>
                        ice cream
                    </p>
                    <div class="list-circle">
                        <div class="circle"></div>
                        <div class="circle"></div>
                        <div class="circle"></div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                        dolore magna aliqua facilisis.
                    </p>
                </div>
            </li>
            <li class="item-products"></li>
            <li class="item-products"></li>
        </ul>
   </div>   
</section>
