<section class="section-products">
    <div class="container">
    <h2 class="title-products">100% natural</h2>
    <div class="section-name">products</div>
        <ul class="list-products">
            <li class="item-products">
                <div class="position thumb-skills">
                    <img
                      srcset="
                      /images/ice-cream-m.png 1x,                   
                      /images/ice-cream-m@2x.png 2x
                      "
                      src="/images/ice-cream-m.png"
                      alt="photo ice-cream"
                      width="280"
                    />
                    <picture>
                        <source
                          srcset="
                            ./image/ivan/ivan-mobile.jpg   1x,
                            ./image/ivan/ivan-mobile2x.jpg 2x
                          "
                          media="(max-width: 767px)" />
                        <source
                          srcset="
                            ./image/ivan/ivan-tabl.jpg   1x,
                            ./image/ivan/ivan-tabl2x.jpg 2x
                          "
                          media="(max-width: 1199px)" />
                        <source
                          srcset="
                            ./image/ivan/ivan-desk.jpg   1x,
                            ./image/ivan/ivan-desk2x.jpg 2x
                          "
                          media="(min-width: 1200px)" />
                        <img
                          class=""
                          src="/src/images/"
                          src="/images/ice-cream-m.png"
                          alt="photo ice-cream"
                      /></picture>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. 
                    dolore magna aliqua facilisis.
                </p>
                </div>
            </li>
            <li class="item-products"></li>
            <li class="item-products"></li>
        </ul>
   </div>   
</section>
