<img src="./images/collage-desc.png" class="collage" alt="Коллаж фото" />

<div class="container">
  <div class="wrap">
    <input type="radio" name="slides" id="point1" checked />
    <input type="radio" name="slides" id="point2" />
    <input type="radio" name="slides" id="point3" />

    <div class="slider">
      <div class="slides slide-1">
        <img
          class="review-photo"
          src="./images/rewiev-photo-1.png"
          alt="Emily photo"
        />
        <blockquote class="review-quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
          <p class="lines">
            __________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________
          </p>
        </blockquote>

        <div class="points">
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
        </div>

        <p class="review-person">Emily, Los Angeles</p>
      </div>
      <div class="slides slide-2">
        <img
          class="review-photo"
          src="./images/rewiev-photo-2.png"
          alt=" Sara photo"
        />
        <blockquote class="review-quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
          <p class="lines">
            FuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuck
          </p>
        </blockquote>

        <div class="points">
          <div class="point"></div>
          <div class="point"></div>

          <div class="point"></div>
        </div>

        <p class="review-person">Sara, San Francisco</p>
      </div>
      <div class="slides slide-3">
        <img
          class="review-photo"
          src="./images/rewiev-photo-3.png"
          alt="Kate photo"
        />
        <blockquote class="review-quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
          <p class="lines">
            FuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuck
          </p>
        </blockquote>

        <div class="points">
          <div class="point"></div>
          <div class="point"></div>
          <div class="point"></div>
        </div>

        <p class="review-person">Kate, NY</p>
      </div>
    </div>
    <div class="control">
      <label class="point-1" for="point1">
        <svg class="svg-home">
          <use href="./images/svg/sprite.svg#icon-home"></use>
        </svg>
      </label>
      <label class="point-2" for="point2">
        <svg class="svg-home">
          <use href="./images/svg/sprite.svg#icon-home"></use>
        </svg>
      </label>
      <label class="point-3" for="point3">
        <svg class="svg-home">
          <use href="./images/svg/sprite.svg#icon-home"></use>
        </svg>
      </label>
    </div>
  </div>
</div>
