<img src="./images/collage-desc.png" class="collage" alt="" />

<div class="container">
  <div class="review">
    <ul class="review-list">
      <li class="review-item">
        <img class="review-photo" src="./images/rewiev-photo-1.png" alt="" />
        <blockquote class="review-quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
          <p class="lines">
            FuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuckFuck
          </p>
        </blockquote>

        <div class="points">
          <div class="point"></div>
          <div class="point"></div>

          <div class="point"></div>
        </div>

        <p class="review-person">Emily, Los Angeles</p>
      </li>
      <li class="is-hiden">
        <img src="./images/rewiev-photo-2.png" alt="" />
      </li>
      <li class="is-hiden">
        <img src="./images/rewiev-photo-3.png" alt="" />
      </li>
    </ul>
    <div class="slider-controls">
      <button class="current-home">
        <svg>
          <use href="./images/svg/sprite.svg#icon-home"></use>
        </svg>
      </button>
      <button class="slider-btn"></button>
      <button class="slider-btn"></button>
    </div>
  </div>
</div>
