<img src="./images/collage-tab.png" class="collage" alt="" />

<div class="container">
  <div class="review">
    <ul class="review-list">
      <li class="review-item">
        <img class="review-photo" src="./images/rewiev-photo-1.png" alt="" />
        <blockquote class="review-quote">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </blockquote>
        <div class="points">
          <div class="point"></div>
          <div class="point"></div>

          <div class="point"></div>
        </div>

        <p>Emily, Los Angeles</p>
      </li>
      <li>
        <img src="./images/rewiev-photo-2.png" alt="" />
      </li>
      <li>
        <img src="./images/rewiev-photo-3.png" alt="" />
      </li>
    </ul>
    <div class="carousel">
      <button class="carousel-btn current-home"></button>
      <button class="carousel-btn"></button>
      <button class="carousel-btn"></button>
    </div>
  </div>
</div>
