.events-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}

.mb25 {
  margin-bottom: 25px;
}

.events-section {
  padding-bottom: 70px;
  background-color: $events-section-bgc;

  @media screen and (min-width: 1200px) {
    background-image: url('../images/events-section-bg-img.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/events-section-bg-img@2x.png');
    }
  }

  @media screen and (min-width: 767px) {
    padding-bottom: 165px;
  }
}

.events-list__container {
  padding: 43px 20px;
}
.events-list__item {
  background-color: $white;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  height: auto;
  width: 220px;
  margin-right: 0px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 330px;
    &:not(:last-child) {
      margin-right: -50px;
    }
  }
}
.events-list__item__first-section {
  border-bottom: 1px solid #e1e1e1;
}
.events-list__item__first-section__cafe {
  margin: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: $yellow-bgc;
  border-radius: 4px;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.35;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
.events-list__item__first-section__foodtruck {
  margin: 0;
  width: 130px;
  display: flex;
  justify-content: center;
  background-color: $green-bg-color;
  border-radius: 4px;
  font-size: 12px;
  color: $white;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.35;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.events-list__item__first-section__first-row {
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.events-list__item__first-section__second-row {
  font-weight: 500;
  font-size: 12px;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.events-list__item__second-section {
  border-bottom: 1px solid #e1e1e1;
}
.events-list__item__second-section__first-row {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.events-list__item__second-section__second-row {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: $circle-bgc;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.events-list__item__third-section {
  margin-top: 25px;
}
.events-list__item__third-section__first-row {
  @extend %link;
  font-weight: 500;
  font-size: 12px;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.events-list__item__third-section__second-row {
  @extend %link;
  font-weight: 500;
  font-size: 12px;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
  }
}
.event-section__btn-container {
  @extend %centered-flex;
  flex-wrap: wrap;
}
.event-section__btn-container__first-btn,
.event-section__btn-container__second-btn {
  @extend %link;
  width: 198px;
  display: flex;
  justify-content: center;
  border-radius: 22px;
  font-size: 16px;
  font-weight: bold;
  padding: 7.5px 0px;
}
.event-section__btn-container__first-btn {
  margin-right: 15px;
  background-color: $primary-text-pink;
  color: $white;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    margin-right: 0;
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 0;
  }
}
.event-section__btn-container__first-btn:hover {
  transform: rotateY(360deg);
  transition: 2.2s;
}
.event-section__btn-container__second-btn {
  background-color: $white;
  color: $primary-text-pink;
}
.event-section__btn-container__second-btn:hover {
  transform: rotateY(360deg);
  background-color: $button-hover-color;
  transition: 2.2s;
}
.event-section__btn-container__first-btn__arrow,
.event-section__btn-container__second-btn__arrow {
  margin-left: 10px;
  margin-top: 1.45px;
}
