.section-made {
  background: $section-bgc;
  padding-top: 125px;
}

.title-made {
  margin-top: 0;
  margin-bottom: 26px;

  font-family: $second-font-family;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;

  color: $circle-bgc;

  .second-title {
    padding-top: 15px;

    font-family: $second-font-family;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $primary-text-pink;
  }
}

.photo-cow {
  margin: 0 auto 46px;
}

.text-cow {
  margin: 0 auto 40px;
  width: 238px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  color: $black;
}

.color-gray {
  color: $secondary-text-color;

  .pt-top {
    display: block;
    padding-top: 20px;
  }
}

.botton-made {
  padding: 10px 37px;
  background: $white;
}
